@use "../variables" as *;
@use "../mixins" as *;

.intro {
    padding: 25px 0;

    .content {
        width: 100%;
        height: 2010px;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .invitation {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .logo {
                width: 100%;
                @include flex-center;
                padding: 60px 0 60px;

                .box-img {
                    width: 164px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .family-info {
                padding-bottom: 15px;

                p {
                    line-height: 1.8;
                }

                img {
                    width: 16px;
                    height: auto;
                }
            }

            .announcement {
                p {
                    line-height: 1.8;
                }
            }

            .couple-names {
                padding: 15px 0;

                h2 {
                    font-family: $font-hero;
                    font-size: 3.5rem;
                    letter-spacing: 1.2px;
                    font-weight: 300;
                    margin: 15px 0;
                }
            }

            .divider {
                width: 100%;

                .divider-icon {
                    width: 60px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .location-time {
            text-align: center;

            .top-detail {
                padding: 50px 0;

                h2 {
                    font-size: 2.063rem;
                    font-weight: 300;
                }
            }

            .photo-area {
                width: 100%;

                img.couple-img {
                    width: 237px;
                    height: auto;
                    object-fit: cover;
                }
            }

            .invitation-text {
                padding: 50px;

                p {
                    line-height: 1.8;
                }
            }

            .time {
                h2 {
                    font-size: 1.563rem;
                    font-weight: 300;
                    margin: 5px;
                }
            }

            .venue-details {
                .divider {
                    width: 100%;
                    padding: 50px 0 40px;

                    .divider-icon {
                        width: 70px;
                        height: auto;
                        object-fit: cover;
                    }
                }

                p.announcement {
                    padding-bottom: 20px;
                }

                .location-name {
                    font-family: $font-hero;
                    font-size: 3.8rem;
                    font-weight: 300;
                    letter-spacing: 1.2px;
                    padding-bottom: 10px;
                }

                .map-link {
                    width: 100%;
                    padding: 20px 0;

                    a.map-button {
                        text-decoration: none;
                        padding: 5px 95px;
                        border-radius: 15px;
                        border: solid 1px $primary-color;
                    }
                }
            }
        }
    }

    @media (max-width: 430px) {
        .content {
            height: 1742px;

            .invitation {
                .logo {
                    .box-img {
                        width: 126px;
                    }
                }
                .family-info {
                    padding-bottom: 10px;
    
                    p {
                        line-height: 1.5;
                    }
    
                    img {
                        width: 14px;
                        height: auto;
                    }
                }

                .announcement {
                    p {
                        line-height: 1.5;
                    }
                }
    
                .couple-names {
                    padding: 20px 0;
    
                    h2 {
                        font-size: 2.5rem;
                        letter-spacing: 1px;
                        margin: 10px 0;
                    }
                }

                .divider {
                    .divider-icon {
                        width: 45px;
                    }
                }

                .time {
                    h2 {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin: 5px;
                    }
                }
            }

            .location-time {
                .time h2 {
                    font-size: 1.3rem;
                }
                
                .invitation-text {
                    padding: 40px;
                }
                .venue-details .location-name {
                    font-size: 2.5rem;
                }
            } 

        }
    }
}

.divider-paint {
    width: 100%;
    min-height: 380px;
    margin-bottom: 25px;

    .img-box img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .img-box.img-end {
        position: relative;

        img {
            position: absolute;
            top: -10px;
        }
    }
}
