@use "../variables" as *;
@use "../mixins" as *;

.intro {
    margin-top: 20px;
    margin-bottom: 20px;

    .content {
        background: url('../../assets/images/bg/bg1.png') no-repeat top/contain;
        width: 100%;
        max-width: 500px;
        height: 2080px;
        aspect-ratio: 500 / 2080;
        padding: 0 12%;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .invitation {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .logo {
                width: 100%;
                @include flex-center;
                padding: 80px 0 60px;

                .box-img {
                    width: 35%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .family-info {
                padding-bottom: 20px;

                p {
                    font-size: clamp(5px, 2.3vw, 11px);
                    line-height: 1.8;
                }

                img {
                    width: 16px;
                    height: auto;
                }
            }

            .announcement {
                p {
                    font-size: clamp(5px, 2.3vw, 11px);
                    line-height: 1.8;
                }
            }

            .couple-names {
                padding: 20px 0;

                h2 {
                    font-family: $font-hero;
                    font-size: 52px;
                    letter-spacing: 1.2px;
                    font-weight: 300;
                    margin: 20px 0;
                }
            }

            .divider {
                width: 100%;
                padding: 20px;

                .divider-icon {
                    width: 60px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .location-time {
            text-align: center;

            .top-detail {
                padding: 50px 0;

                h2 {
                    font-size: 2.063rem;
                    font-weight: 300;
                }
            }

            .photo-area {
                width: 100%;
                padding-top: 10px;

                img.couple-img {
                    width: 60%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .invitation-text {
                padding: 50px 0;

                p {
                    line-height: 1.8;
                }
            }

            .time {
                h2 {
                    font-size: 1.563rem;
                    font-weight: 300;
                    margin: 5px;
                }
            }

            .venue-details {
                .divider {
                    width: 100%;
                    padding: 50px 0 40px;

                    .divider-icon {
                        width: 70px;
                        height: auto;
                        object-fit: cover;
                    }
                }

                p.announcement {
                    padding-bottom: 20px;
                }

                .location-name {
                    font-family: $font-hero;
                    font-size: 3.3rem;
                    font-weight: 300;
                    letter-spacing: 1.2px;
                    padding-bottom: 10px;
                }

                .map-link {
                    width: 100%;
                    padding: 20px 0;

                    a.map-button {
                        color: $primary-color;
                        text-decoration: none;
                        padding: 5px 95px;
                        border-radius: 15px;
                        border: solid 1px $primary-color;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .invitation {
                .family-info {
                    p {
                        // font-size: 2.3vw;
                    }
                }

                .couple-names {
                    h2 {
                        font-size: 10.3vw;
                    }
                }
            }

            .location-time {
                .top-detail {

                    // padding: 50px 0;
                    p {
                        font-size: 2.4vw;
                    }

                    h2 {
                        font-size: 6vw;
                    }
                }

                .invitation-text {
                    p {
                        font-size: 2.3vw;
                    }
                }

                .time {
                    h2 {
                        font-size: 4.5vw;
                    }

                    p {
                        font-size: 2.3vw;
                    }
                }

                .venue-details {
                    .location-name {
                        font-size: 10.8vw;
                    }

                    .address-info {
                        font-size: 2.3vw;
                    }

                    .map-link a.map-button {
                        padding: 5px 23%;
                    }
                }
            }
        }
    }


    @media (max-width: 465px) {
        .content {
            padding: 0 10%;
            height: 1970px;

            .invitation {
                .logo {
                    padding: 70px 0 50px;

                    .box-img {
                        width: 30%;
                    }
                }

                .family-info {
                    padding-bottom: 20px;

                    p {
                    }

                    img {
                        // width: 16px;
                        // height: auto;
                    }
                }

                .announcement {
                    p {
                        // font-size: clamp(5px, 2.3vw, 11px);
                        // line-height: 1.8;
                    }
                }

                .couple-names {
                    // padding: 20px 0;

                    h2 {
                        // margin: 20px 0;
                    }
                }

                .divider {
                    // padding: 20px;

                    .divider-icon {
                        // width: 60px;
                    }
                }
            }

            .location-time {
                .top-detail {
                    padding: 40px 0;

                    h2 {
                    }
                }

                .photo-area {
                    padding-top: 5px;

                    img.couple-img {
                        width: 60%;
                    }
                }

                .invitation-text {
                    padding: 40px 0;

                    p {
                    }
                }

                .time {
                    h2 {
                        // margin: 5px;
                    }
                }

                .venue-details {
                    .divider {
                        padding: 40px 0 30px;

                        .divider-icon {
                            // width: 70px;
                        }
                    }

                    p.announcement {
                        padding-bottom: 15px;
                    }

                    .location-name {
                        // padding-bottom: 10px;
                    }

                    .map-link {
                        padding: 15px 0;
                    }
                }
            }
        }

    }

    @media (max-width: 440px) {
        .content {
            height: 1860px;
        }
    }

    @media (max-width: 431px) {
        .content {
            padding: 0 10%;
            height: 1820px;

            .invitation {
                .logo {
                    padding: 70px 0 50px;

                    .box-img {
                        width: 30%;
                    }
                }

                .family-info {
                    padding-bottom: 20px;

                    p {
                    }

                    img {
                        // width: 16px;
                        // height: auto;
                    }
                }

                .announcement {
                    p {
                        // font-size: clamp(5px, 2.3vw, 11px);
                        // line-height: 1.8;
                    }
                }

                .couple-names {
                    // padding: 20px 0;

                    h2 {
                        // margin: 20px 0;
                    }
                }

                .divider {
                    // padding: 20px;

                    .divider-icon {
                        // width: 60px;
                    }
                }
            }

            .location-time {
                .top-detail {
                    padding: 40px 0;

                    h2 {
                    }
                }

                .photo-area {
                    padding-top: 5px;

                    img.couple-img {
                        width: 60%;
                    }
                }

                .invitation-text {
                    padding: 40px 0;

                    p {
                    }
                }

                .time {
                    h2 {
                        // margin: 5px;
                    }
                }

                .venue-details {
                    .divider {
                        padding: 40px 0 30px;

                        .divider-icon {
                            // width: 70px;
                        }
                    }

                    p.announcement {
                        padding-bottom: 15px;
                    }

                    .location-name {
                        // padding-bottom: 10px;
                    }

                    .map-link {
                        padding: 15px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 415px) {
        .content {
            padding: 0 10%;
            height: 1740px;
        }
    }

    @media (max-width: 391px) {
        .content {
            padding: 0 10%;
            height: 1680px;

            .invitation {
                .logo {
                    padding: 60px 0 40px;

                    .box-img {
                        width: 30%;
                    }
                }

                .family-info {
                    padding-bottom: 15px;
                }

                .couple-names {
                    padding: 10px 0;

                    h2 {
                        // margin: 20px 0;
                    }
                }

                .divider {
                    // padding: 20px;

                    .divider-icon {
                        // width: 60px;
                    }
                }
            }

            .location-time {
                .top-detail {
                    padding: 30px 0;

                    h2 {
                    }
                }

                .photo-area {
                    padding-top: 5px;

                    img.couple-img {
                        width: 60%;
                    }
                }

                .invitation-text {
                    padding: 30px 0;

                    p {
                    }
                }

                .time {
                    h2 {
                        // margin: 5px;
                    }
                }

                .venue-details {
                    .divider {
                        padding: 30px 0 20px;

                        .divider-icon {
                            // width: 70px;
                        }
                    }

                    p.announcement {
                        padding-bottom: 15px;
                    }

                    .location-name {
                        // padding-bottom: 10px;
                    }

                    .map-link {
                        padding: 15px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 376px) {
        .content {
            height: 1600px;
        }
    }

    @media (max-width: 361px) {
        .content {
            height: 1530px;
        }
    }

    @media (max-width: 340px) {
        .content {
            height: 1400px;
            .invitation {
                .logo {
                    padding: 60px 0 40px;

                    .box-img {
                        width: 30%;
                    }
                }

                .family-info {
                    padding-bottom: 20px;
                }

                .couple-names {
                    padding: 10px 0;

                    h2 {
                        margin: 15px 0;
                    }
                }

                .divider {
                    padding: 15px;

                    .divider-icon {
                        width: 45px;
                    }
                }
            }
        }
    }

    @media (max-width: 330px) {
        .content {
            padding: 0 5%;
            height: 1300px;

            .invitation {
                .logo {
                    padding: 50px 0 40px;

                    .box-img {
                        width: 27%;
                    }
                }

                .family-info {
                    padding-bottom: 15px;
                }

                .couple-names {
                    padding: 5px 0;

                    h2 {
                        margin: 15px 0;
                    }
                }

                .divider {
                    padding: 15px;

                    .divider-icon {
                        width: 40px;
                    }
                }
            }

            .location-time {
                .top-detail {
                    padding: 30px 0;

                    h2 {
                    }
                }

                .photo-area {
                    padding-top: 5px;

                    img.couple-img {
                        width: 50%;
                    }
                }

                .invitation-text {
                    padding: 25px 0;
                }

                .time {
                    h2 {
                        // margin: 5px;
                    }
                }

                .venue-details {
                    .divider {
                        padding: 25px 0 15px;

                        .divider-icon {
                            width: 50px;
                        }
                    }

                    p.announcement {
                        padding-bottom: 10px;
                    }

                    .location-name {
                        // padding-bottom: 10px;
                    }

                    .map-link {
                        padding: 15px 0;
                    }
                }
            }
        }
    }
}

.divider-paint {
    width: 100%;
    min-height: 380px;
    margin-bottom: 25px;

    .img-box img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .img-box.img-end {
        position: relative;

        img {
            margin-top: 25px;
        }
    }
}